{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card ">
      <div class="card-header">
        <h6>Agent List</h6>
      </div>
      <div class="card-body txt-14">
        <a href="{% url 'agents:agent_create' %}" class="btn btn-primary">Add new Agent</a>
        <div class="table-responsive">
          <table id="listlead" class="table table-hover table-striped">
            <thead>
              <tr>
                
                <th>Agent Name</th>
                <!-- <th>Last Name</th>
                <th>Age</th>
                <th>Detail</th> -->
                
              </tr>
            </thead>
            <tbody >
              {% for agent in agents %}
              <tr>
                
                <td>{{agent.user.username}}</td>
                <!-- <td>{{agent.last_name}}</td>
                <td>{{agent.age}}</td> -->
                
                <td><a href="{% url 'agents:agent_detail' agent.pk %}" type="submit" class="btn btn-sm btn-outline-success">Detail</td>

                {% endfor %}
            </tbody>
            
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

