 
{% extends 'base.html' %}
{% load static %}
{% block title %}Agent | Agent Profile{% endblock %}
{% block content %}
{% if messages %}
<div class="alert alert-primary alert-dismissible fade show" role="alert">
    {% for message in messages %}
    {{message}}
    {% endfor %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<div class="row">
    <div class="col-12">
        <div class="card pdn-15 pdn-sm-55 pdn-b-0-imp">
            <div class="profile-header">
                <div class="row">
                    
                    <div class="col-md-9">
                        <div class="card flex-row profile-summary bdr-0">
                            <div class="basic-info">
                                <h3 class="full-name">Deatil of Agent {{agent.user.username }}</h3>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card pdn-15 pdn-sm-55 pdn-t-0-imp bdr-0 profile-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="tab-content" id="profile-tab-content">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="card-body">
                                <div class="row profile-row">
                                    <div class="col-3">
                                        <span class="profile-cat">User</span>
                                    </div>
                                    <div class="col-9">
                                        <span class="profile-info">{{agent.user.username }} </span>
                                    </div>
                                </div>
                                <!-- <div class="row profile-row">
                                    <div class="col-3">
                                        <span class="profile-cat">Agent</span>
                                    </div>
                                    <div class="col-9">
                                        <span class="profile-info">{{lead.agent}}</span>
                                    </div>
                                </div>
                                  

                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="tab-content" id="profile-tab-content">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="card-body">
                                <div class="row profile-row">
                                    <div class="col-3">
                                        <span class="profile-cat">Age</span>
                                    </div>
                                    <div class="col-9">
                                        <span class="profile-info">{{lead.age}}</span>
                                    </div>
                                </div>
                                
                                
                            </div>    
                        </div>        
                    </div>            
                </div>  -->
                
            </div>
        </div>
        <div class="button ml-3">
            <a class="btn btn-sm btn-primary" href="{% url 'agents:agent_update' agent.pk %}">Edit</a><br> <br>
            <a class="btn btn-sm btn-danger" href="{% url 'agents:agent_delete' agent.pk %}">Delete</a><br> <br>
            
        </div>
        
    </div>
    
</div>
<!-- .content-wrapper end -->    
{% endblock %}
