{% extends "base.html" %}
{% block content %}
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="page-content">

          <!-- .page-title start -->
          <div class="page-title">
              <div class="row">
                  <div class="col-md-6">
                        
                  </div>
                  
              </div>
          </div>
          <!-- .page-title end -->

            <div class="row">
                <div class="col-12">
                    <div class="card ">
                        <div class="card-header pdn-20 pdn-sm-x-40">
                            <h6 >Are you sure you want to delete this Lead</h6>
                        </div>

                        <div class="card-body pdn-sm-40 pdn-t-20-imp">
                            <p class="card-text mb-3 wth-sm-70p">Paragraph title</p>
                            <div class="pdn-sm-55 pdn-15 bdr">
                                <form method="POST">
                                    {% csrf_token %}
                                    <!-- {{ form.as_p }}
                                    <a href="{% url 'leads:lead_delete' lead.pk %}" class="btn btn-sm btn-danger">Delete</a> -->
                                    <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                                </form>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}