{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <h1 class="p-2">Details of Lead: {{ lead.first_name}} {{ lead.last_name }}</h1>
    <a class="p-2" href="{% url 'leads:lead_list' %}" class="btn btn-sm btn-primary">Go back to leads list</a>
</div>
<br>
<div class='container-fluid lead'>
    Name: {{ lead.first_name}} {{ lead.last_name }}
    <br>
    Age: {{ lead.age }}
    <br>
    Responsible Agent for this Lead: {{ lead.agent }}
    <br>
    <a class="btn btn-sm btn-primary" href="{% url 'leads:lead_update' lead.pk %}">Edit</a><br> <br>
    <a class="btn btn-sm btn-danger" href="{% url 'leads:lead_delete' lead.pk %}">Delete</a><br>
    
</div>
{% endblock content %}
    
