{% extends "base.html" %}
{% block content %}
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="page-content">

          <!-- .page-title start -->
          <div class="page-title">
              <div class="row">
                  <div class="col-md-6">
                        
                  </div>
                  
              </div>
          </div>
          <!-- .page-title end -->

            <div class="row">
                <div class="col-12">
                    <div class="card ">
                        <div class="card-header pdn-20 pdn-sm-x-40">
                            <h6 >CRM built with Django</h6>
                        </div>

                        <div class="card-body pdn-sm-40 pdn-t-20-imp">
                            <p class="card-text mb-3 wth-sm-70p">Paragraph title</p>
                            <div class="pdn-sm-55 pdn-15 bdr">
                                Page contents go here. Create something awesome!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}